body {
    padding-bottom: 20px;
}

.img_top{
    max-width: 70%;
    height: auto;
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* 
Remoção do max-width para que o fg-line funcione corretamente.
*/
input,
select,
textarea {
    max-width: none;
}

.webgrid-footer
  {
     padding: 6px 5px;
    text-align: center;
     background-color: #e8eef4;
    border-top: 2px solid #3966A2;
   height: 30px;

   border-bottom: 2px solid #D6E8FF;
    border-left: 2px solid #D6E8FF;
     border-right: 2px solid #D6E8FF;
  }