@{
    ViewBag.Title = "Acesso Negado";
}
<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="blue bigger-125">
                <i class="ace-icon fa fa-random"></i>
            </span>
            Acesso Negado
        </h1>
        <hr>
        <h3 class="lighter smaller">
            Você não tem permissão para acessar essa página.
        </h3>
    </div>
</div>