<!-- Modal -->
<div class="modal fade" id="modal_cadastrar" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">CADASTRAR DEPENDENTE</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="col-md-12">
                        <h3 class="block-title">DADOS PESSOAIS</h3><BR>
                        <div class="col-md-12 m-b-15">
                            <label>NOME COMPLETO</label>
                            <input type="text" class="input-sm form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-3 m-b-15">
                            <label>DATA DE NASCIMENTO</label>
                            <input type="text" class="input-sm form-control mask-date">
                        </div>
                        <div class="col-md-2 m-b-15">
                            <label>CPF</label>
                            <input type="text" class="input-sm form-control mask-cpf">
                        </div>
                        <div class="col-md-2 m-b-15">
                            <label>RG</label>
                            <input type="text" class="input-sm form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2 m-b-15">
                            <label>SEXO</label>
                            <select class="select">
                                <option>Selecionar</option>
                                <option>Masculino</option>
                                <option>Feminino</option>
                            </select>
                        </div>
                        <div class="col-md-2 m-b-15">
                            <label>ESTADO CIVIL</label>
                            <select class="select">
                                <option>Selecionar</option>
                                <option>Solteiro</option>
                                <option>Casado</option>
                            </select>
                        </div>
                        <div class="col-md-2 m-b-15">
                            <label>FATOR RH</label>
                            <select class="select">
                                <option>Selecionar</option>
                                <option>A+</option>
                                <option>A-</option>
                                <option>B+</option>
                                <option>B-</option>
                                <option>AB+</option>
                                <option>AB-</option>
                                <option>O+</option>
                                <option>O-</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 m-b-15">
                            <label>EMAIL</label>
                            <input type="text" class="input-sm form-control">
                        </div>
                    </div>

                    <hr class="whiter">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <h3 class="block-title">DADOS CLUBE</h3><BR>
                            <div class="col-md-3 m-b-15">
                                <label>DATA DE ADMISSÃO</label>
                                <input type="text" class="input-sm form-control mask-date">
                            </div>
                            <div class="col-md-2 m-b-15">
                                <label>EMITIR CONVITES</label>
                                <select class="select">
                                    <option>Sim</option>
                                    <option>Não</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3 m-b-15">
                                <label>VALIDADE DA CARTEIRINHA</label>
                                <input type="text" class="input-sm form-control mask-date">
                            </div>
                            <div class="col-md-3 m-b-15">
                                <label>VALIDADE DO EXAME</label>
                                <input type="text" class="input-sm form-control mask-date">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3 m-b-15">
                                <label>ENTREGA DA DECLARAÇÃO</label>
                                <input type="text" class="input-sm form-control mask-date">
                            </div>
                            <div class="col-md-3 m-b-15">
                                <label>VENCIMENTO DA DECLARAÇÃO</label>
                                <input type="text" class="input-sm form-control mask-date">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <hr class="whiter m-b-15">
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-alt">SALVAR</button>
                <button type="button" class="btn btn-sm btn-alt" data-dismiss="modal">FECHAR</button>
            </div>
        </div>
    </div>
</div>