<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Cod.</th>
            <th>Itinerário</th>
            <th>Tarifa</th>
            <th></th>
        </tr>
    </table>
</div>