@model Voluntariado.Apresentacao.MVC.Areas.Admin.ViewModels.Index.IndexViewModel

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div class="col-md-12">
    <div class="col-sm-3">
        <div class="mini-charts-item" style="background-color: #0073CF;">
            <div class="clearfix">
                <div class="count" style="float: left;">
                    <i class="zmdi zmdi-chart zmdi-hc-3x" style="color: white;"></i>
                </div>
                <div class="count" style="float: right;">
                    <small>Demandas abertas</small>
                    <h2>987,459</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mini-charts-item" style="background-color: #69BE28;">
            <div class="clearfix">
                <div class="count" style="float: left;">
                    <i class="zmdi zmdi-chart zmdi-hc-3x" style="color: white;"></i>
                </div>
                <div class="count" style="float: right;">
                    <small>Demandas atendidas</small>
                    <h2>458,778</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mini-charts-item" style="background-color: #CD202C;">
            <div class="clearfix">
                <div class="count" style="float: left;">
                    <i class="zmdi zmdi-chart zmdi-hc-3x" style="color: white;"></i>
                </div>
                <div class="count" style="float: right;">
                    <small>Usuários ativos</small>
                    <h2>356,785</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="mini-charts-item" style="background-color: #ECC200;">
            <div class="clearfix">
                <div class="count" style="float: left;">
                    <i class="zmdi zmdi-chart zmdi-hc-3x" style="color: white;"></i>
                </div>
                <div class="count" style="float: right;">
                    <small>Instituições ativas</small>
                    <h2>458,778</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-6">
    <div id='usuario'></div>
    <div class="col-md-12">
        <div class="card">
            <div id="piechart_3d" style="height: auto;"></div>
        </div>
    </div>
</div>


<div class="col-md-6">
    <div id='demanda'></div>
    <div class="col-md-12">
        <div class="card">
            <div id="chart_div" style="height: auto;"></div>
        </div>
    </div>
</div>




@section scripts{
    <script type="text/javascript" src="~/Content/js/loader.js"></script>
    <script type="text/javascript">
        var grafico = [
            ['Usuários', 'Quantidade'],
            ['Aperam', 11],
            ['Terceirizado', 4],
            ['Comunidade', 7]
        ];
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawVisualization);

        function drawChart() {
            var data = google.visualization.arrayToDataTable(grafico);
            var options = {
                title: 'Usuários',
                is3D: true,
                height: '100%',
                colors: ['#0073CF', '#E05206', '#ECC200']
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            google.visualization.events.addListener(chart, 'ready', function () {
                document.getElementById('usuario').outerHTML = '<a href="' + chart.getImageURI() + '" target="_new" style="float: right; margin-right: 20px;" download="usuarios.png">Download</a>';
            });
            chart.draw(data, options);
        }

        function drawVisualization() {
            var Demandas = [];
            Demandas.push(['Mês', 'Em aprovação', 'Publicada', 'Em andamento', 'Concluída', 'Cancelada']);
            @foreach (var d in Model.Demandas)
            {
                @Html.Raw("Demandas.push(['"+ d.Key+"',")
                foreach (int i in d.Value)
                {
                  @Html.Raw(i+",")
                }
              @Html.Raw("]);")
            }
            var data = google.visualization.arrayToDataTable(Demandas);
            var options = {
                title: 'Situação das demandas por mês',
                hAxis: { title: 'Mês' },
                seriesType: 'bars',
                legend: { position: 'right', textStyle: { fontSize: 10 } },
                colors: ['#ECC200', '#0073CF', '#6B1F7C', '#69BE28', '#CD202C']
            };
            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            google.visualization.events.addListener(chart, 'ready', function () {
                document.getElementById('demanda').outerHTML = '<a href="' + chart.getImageURI() + '" target="_new" style="float: right; margin-right: 20px;" download="demandas_por_mes.png">Download</a>';
            });
            chart.draw(data, options);
        };
    </script>
}

